@font-face {
    font-family: 'Farrari';
    src:
        url('/assets/fonts/farrari-beta.ttf') format("truetype"),
        url('/assets/fonts/farrari-beta.ttf') format("woff"),
        url('/assets/fonts/farrari-beta.ttf') format("woff2");

    font-weight: normal;
    font-style: normal;
}

/* -------------------------------------------------------- */

@mixin font-heading {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-variation-settings: 'wght' var(--font-weight-bold);
}

@mixin font-subheading {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    font-variation-settings: 'wght' var(--font-weight-bold);
}

@mixin font-small-heading {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-variation-settings: 'wght' var(--font-weight-bold);
}

@mixin font-text {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-variation-settings: 'wght' var(--font-weight-normal);
}

@mixin font-infotext {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-sm);
    font-variation-settings: 'wght' var(--font-weight-normal);
}

// Body Styles
body {
    @include font-text;
    font-family: var(--font-family-base);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
}

// Heading Styles
h1,
h2,
h3 {
    @include font-heading;
    color: inherit;
}

h4,
h5,
h6 {
    @include font-subheading;
    color: inherit;
}

// Link styles
a {
    color: var(--link-link);
}
