$arrow-size: var(--icon-size);
$arrow-color: var(--icon-color);

$arrow-movement: 0.15em;


/* Arrows that are used together with text (mostly as <span class="arrow">) */
.arrow {
    position: relative;
    width: 0.8em;
    height: 1em;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;

    &::before {
        content: '\2192';
        position: absolute;
        top: 0;
        left: 0;
        // transform: translate(-50%, -50%);
        font-size: inherit;
        line-height: 1.3em;
        transition: top .3s ease, left .3s ease;
    }

    &[data-orientation="right"] {
        &::before {
            content: '\2192';
        }
    }

    &[data-orientation="down-right"] {
        &::before {
            content: '\2198';
        }
    }

    &[data-orientation="down"] {
        &::before {
            content: '\2193'; // Arrow pointing down
            line-height: 1.5em;
        }
    }

    &[data-orientation="down-left"] {
        &::before {
            content: '\2199'; // Arrow pointing down-left
        }
    }

    &[data-orientation="left"] {
        &::before {
            content: '\2190'; // Arrow pointing left
        }
    }

    &[data-orientation="up-left"] {
        &::before {
            content: '\2196'; // Arrow pointing up-left
        }
    }

    &[data-orientation="up"] {
        &::before {
            content: '\2191'; // Arrow pointing up
            line-height: 1.4em;
        }
    }

    &[data-orientation="up-right"] {
        &::before {
            content: '\2197'; // Arrow pointing up-right
        }
    }
}


/* For Arrow-Buttons, where the button stands alone you can use an svg background arrow */
.arrow-button {
    position: relative;
    width: $arrow-size;
    height: $arrow-size;
    background-image: url('/assets/media/arrow-right.svg');
    cursor: pointer;

    &[data-orientation="right"] {
        transform: rotate(0deg);
    }

    &[data-orientation="down-right"] {
        transform: rotate(45deg);
    }

    &[data-orientation="down"] {
        transform: rotate(90deg);
    }

    &[data-orientation="down-left"] {
        transform: rotate(135deg);
    }

    &[data-orientation="left"] {
        transform: rotate(180deg);
    }

    &[data-orientation="up-left"] {
        transform: rotate(225deg);
    }

    &[data-orientation="up"] {
        transform: rotate(270deg);
    }

    &[data-orientation="up-right"] {
        transform: rotate(315deg);
    }

}