.menu-button {
    width: var(--burger-button-width);
    height: var(--burger-button-height);
    // margin-top: calc( var(--burger-button-width) - var(--burger-button-height) );
    position: relative;
    display: none;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: var(--burger-button-stroke);
        // border-radius: 20px; // Shape the stroke endings; straight/ rounded
        width: 100%;
        background: var(--color-primary);
        opacity: 1;
        left: 0;
        transition: 0.25s ease-in-out;

        &.bar1 {
            top: 0;
            transform-origin: left center;
        }

        &.bar2 {
            top: calc(50% - (var(--burger-button-stroke) / 2));
            transform-origin: left center;
        }

        &.bar3 {
            top: calc(100% - var(--burger-button-stroke));
            transform-origin: left center;
        }
    }

    &.open {
        span.bar1 {
            transform: rotate(45deg);
            top: calc(var(--burger-button-height) * -0.05);
            left: calc(var(--burger-button-width) * 0.1);
        }

        span.bar2 {
            width: 0;
            opacity: 0;
        }

        span.bar3 {
            transform: rotate(-45deg);
            top: calc(var(--burger-button-height) * 1.05);
            left: calc(var(--burger-button-width) * 0.1);
        }
    }
}

@media screen and (max-width: $breakpoint-md) {
    .menu-button {
        display: block;
    }
}
