/**
 *  Gallery – with glide.js
 * 
 *  Builds on: 
 * 
 *  "assets/scss/components/gallery.scss"
 *      "node_modules/@glidejs/glide/src/assets/sass/glide.core.scss"

 *  "site/snippets/blocks/gallery.php"

 *  "site/snippets/components/glide.php"
 *      "node_modules/@glidejs/glide/dist/glide.min.js"
*/

/* The gallery can either show several images next (slider) to each other or one at a time (classic) */



/* Settings */

$gallery-width: inherit;
$gallery-height: inherit; // auto (classic) | fixed value (slider)

$gallery-gap: 0; // 0 (Classic) | anything > 0 (slider)

$arrow-size: var(--font-size-md);

$bullet-size: 10px;
$bullet-gap: var(--margin-sm);
$bullet-color: rgb(180, 180, 180);
$bullet-active-color: rgb(52, 52, 52);


// Most of the gallery styling commes from @glide 


/* Gallery Styling */
.gallery-container {
    position: relative;
    width: $gallery-width;
    height: $gallery-height;
    overflow-x: hidden;


    figure.gallery-item {
        height: 100%;
        width: 100%;
        aspect-ratio: inherit;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover; // Maintain aspect ratio and cover the container
        }

        figcaption {
            padding: var(--margin-sm) ;
        }
    }
}

/* Arrow Navgation */
.arrows-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: $arrow-size;
    padding: var(--margin-sm);
    display: flex;
    width: 100%;
    justify-content: space-between;
}


/* Bullet Navigation */
.bullets-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: var(--margin-sm);
    width: fit-content;
    display: flex;
    gap: $bullet-gap;
    cursor: pointer;
}

.nav-bullet {
    width: $bullet-size;
    height: $bullet-size;
    background-color: $bullet-color;
    border-radius: 50%;

    /* @glide active class */
    &.glide__bullet--active {
        background-color: $bullet-active-color;
    }
}