@charset "UTF-8";
/* Libraries */
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.glide--rtl {
  direction: rtl;
}

/* Site */
/* Box sizing rules */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles (reset `ul`, `ol` elements) */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove border on images inside links in IE 10/11 */
img {
  border-style: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* Remove outline on active links */
a:focus {
  outline: none;
}

a:visited {
  color: inherit;
}

/* Clear floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Remove button styles */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

/* Remove address italic */
address {
  font-style: normal;
}

:root {
  /* Buttons & Icons */
  --icon-size: 60px;
  --burger-button-width: 60px;
  --burger-button-height: 40px;
  --burger-button-stroke: 5px;
  /* Typography */
  --font-family-base: "Farrari", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-size-xxs: clamp(0.7813rem, 0.7788rem + 0.0131vw, 0.8rem);
  --font-size-xs: clamp(0.9375rem, 0.9295rem + 0.0437vw, 1rem);
  --font-size-sm: clamp(1.125rem, 1.109rem + 0.0875vw, 1.25rem);
  --font-size-md: clamp(1.35rem, 1.3228rem + 0.1487vw, 1.5625rem);
  --font-size-lg: clamp(1.62rem, 1.5773rem + 0.2331vw, 1.9531rem);
  --font-size-xl: clamp(1.9438rem, 1.88rem + 0.3481vw, 2.4413rem);
  --font-size-xxl: clamp(2.3325rem, 2.2403rem + 0.5033vw, 3.0519rem);
  --font-size-xxxl: clamp(2.7994rem, 2.6693rem + 0.7105vw, 3.815rem);
  --line-height-xxs: 1.8;
  --line-height-xs: 1.6;
  --line-height-sm: 1.4;
  --line-height-md: 1.2;
  --line-height-lg: 1.0;
  --line-height-xl: 0.9;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  /* Colors */
  --color-primary: rgb(10, 10, 10);
  --color-secondary: rgb(240, 240, 240);
  --color-accent: rgb(255, 25, 17);
  --text-color: var(--color-primary);
  --bg-color: var(--color-secondary);
  --link-color: var(--color-accent);
  --icon-color: var(--color-primary);
  --border-color: var(--color-primary);
  /* Borders */
  --border-width: 1px;
  /* Margins */
  --margin-xxs: calc(.5 * 8px);
  --margin-xs: calc(1 * 8px);
  --margin-sm: calc(2 * 8px);
  --margin-md: calc(4 * 8px);
  --margin-lg: calc(6 * 8px);
  --margin-xl: calc(12 * 8px);
  --margin-xxl: calc(20 * 8px);
  --margin-inline: var(--margin-md);
  --margin-block: var(--margin-md);
  --grid-gutter: clamp(var(--margin-xs), var(--margin-xs) + 0.2vw, var(--margin-sm));
  /* Container */
  --container-width: min(100%, 1200px);
  /* Breakingpoints */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1300px;
}

@font-face {
  font-family: "Farrari";
  src: url("/assets/fonts/farrari-beta.ttf") format("truetype"), url("/assets/fonts/farrari-beta.ttf") format("woff"), url("/assets/fonts/farrari-beta.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* -------------------------------------------------------- */
body {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-variation-settings: "wght" var(--font-weight-normal);
  font-family: var(--font-family-base);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-variation-settings: "wght" var(--font-weight-bold);
  color: inherit;
}

h4,
h5,
h6 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  font-variation-settings: "wght" var(--font-weight-bold);
  color: inherit;
}

a {
  color: var(--link-link);
}

/* GRID */
/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: clamp(var(--margin-xs), var(--margin-xs) + 0.2vw, var(--margin-sm));
  margin-block: clamp(var(--margin-xs), var(--margin-xs) + 0.2vw, var(--margin-sm));
  /* All children have * full column width * by default */
}
.grid-container > * {
  grid-column: span 24;
}

/* All items have * full column width * by default */
.grid-item-100,
.grid-item-75,
.grid-item-66,
.grid-item-50,
.grid-item-33,
.grid-item-25,
.grid-item-16,
.grid-item-12,
.grid-item-100-md,
.grid-item-75-md,
.grid-item-66-md,
.grid-item-50-md,
.grid-item-33-md,
.grid-item-25-md,
.grid-item-16-md,
.grid-item-12-md,
.grid-item-100-sm {
  grid-column: span 24;
}

/* Small */
.grid-item-75-sm {
  grid-column: span 18;
}

.grid-item-66-sm {
  grid-column: span 16;
}

.grid-item-50-sm {
  grid-column: span 12;
}

.grid-item-33-sm {
  grid-column: span 8;
}

.grid-item-25-sm {
  grid-column: span 6;
}

.grid-item-16-sm {
  grid-column: span 4;
}

.grid-item-12-sm {
  grid-column: span 3;
}

@media (min-width: 320px) {
  /* Small */
  .grid-item-16-sm,
  .grid-item-12-sm {
    grid-column: span 6;
  }
  /* Medium */
  .grid-item-25-md,
  .grid-item-16-md,
  .grid-item-12-md {
    grid-column: span 12;
  }
}
/* These grid items stay in * 2 columns * down to small devices */
@media (min-width: 480px) {
  /* Medium */
  .grid-item-66-md,
  .grid-item-50-md,
  .grid-item-33-md {
    grid-column: span 12;
  }
  .grid-item-25-md,
  .grid-item-16-md,
  .grid-item-12-md {
    grid-column: span 6;
  }
}
/* These grid items stay in * 2 columns * down to medium devices */
@media (min-width: 768px) {
  /* Medium */
  .grid-item-75-md {
    grid-column: span 18;
  }
  .grid-item-66-md {
    grid-column: span 16;
  }
  .grid-item-50-md {
    grid-column: span 12;
  }
  .grid-item-33-md {
    grid-column: span 8;
  }
  .grid-item-25-md {
    grid-column: span 6;
  }
  .grid-item-16-md {
    grid-column: span 4;
  }
  .grid-item-12-md {
    grid-column: span 3;
  }
  /* Standart */
  .grid-item-75 {
    grid-column: span 24;
  }
  .grid-item-66,
  .grid-item-50,
  .grid-item-33 {
    grid-column: span 12;
  }
  .grid-item-25,
  .grid-item-16,
  .grid-item-12 {
    grid-column: span 6;
  }
}
/* All grid items reach full variety on large devices */
@media (min-width: 1024px) {
  /* Standart */
  .grid-item-75 {
    grid-column: span 18;
  }
  .grid-item-66 {
    grid-column: span 16;
  }
  .grid-item-50 {
    grid-column: span 12;
  }
  .grid-item-33 {
    grid-column: span 8;
  }
  .grid-item-25 {
    grid-column: span 6;
  }
  .grid-item-16 {
    grid-column: span 4;
  }
  .grid-item-12 {
    grid-column: span 3;
  }
}
/* Typography */
.heading {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-variation-settings: "wght" var(--font-weight-bold);
}

.subheading {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  font-variation-settings: "wght" var(--font-weight-bold);
}

.text {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-variation-settings: "wght" var(--font-weight-normal);
}

.infotext {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-sm);
  font-variation-settings: "wght" var(--font-weight-normal);
}

.font-bold {
  font-weight: var(--font-weight-bold);
  font-variation-settings: "wght" var(--font-weight-bold);
}

.font-normal,
.font-regular {
  font-weight: var(--font-weight-normal);
  font-variation-settings: "wght" var(--font-weight-normal);
}

/* Colors */
.bg-color-primary {
  background-color: var(--color-primary);
}

.bg-color-secondary {
  background-color: var(--color-secondary);
}

.bg-color-accent {
  background-color: var(--color-accent);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-accent {
  color: var(--color-accent);
}

/* Margins and Paddings */
.m-xxs {
  margin: var(--margin-xxs);
}

.m-xs {
  margin: var(--margin-xs);
}

.m-sm {
  margin: var(--margin-sm);
}

.m-md {
  margin: var(--margin-md);
}

.m-lg {
  margin: var(--margin-lg);
}

.m-xl {
  margin: var(--margin-xl);
}

.m-xxl {
  margin: var(--margin-xxl);
}

.p-xxs {
  padding: var(--margin-xxs);
}

.p-xs {
  padding: var(--margin-xs);
}

.p-sm {
  padding: var(--margin-sm);
}

.p-md {
  padding: var(--margin-md);
}

.p-lg {
  padding: var(--margin-lg);
}

.p-xl {
  padding: var(--margin-xl);
}

.p-xxl {
  padding: var(--margin-xxl);
}

/* Inline */
.m-inline-xxs {
  margin-inline: var(--margin-xxs);
}

.m-inline-xs {
  margin-inline: var(--margin-xs);
}

.m-inline-sm {
  margin-inline: var(--margin-sm);
}

.m-inline-md {
  margin-inline: var(--margin-md);
}

.m-inline-lg {
  margin-inline: var(--margin-lg);
}

.m-inline-xl {
  margin-inline: var(--margin-xl);
}

.m-inline-xxl {
  margin-inline: var(--margin-xxl);
}

.p-inline-xxs {
  padding-inline: var(--margin-xxs);
}

.p-inline-xs {
  padding-inline: var(--margin-xs);
}

.p-inline-sm {
  padding-inline: var(--margin-sm);
}

.p-inline-md {
  padding-inline: var(--margin-md);
}

.p-inline-lg {
  padding-inline: var(--margin-lg);
}

.p-inline-xl {
  padding-inline: var(--margin-xl);
}

.p-inline-xxl {
  padding-inline: var(--margin-xxl);
}

/* Block */
.m-block-xxs {
  margin-block: var(--margin-xxs);
}

.m-block-xs {
  margin-block: var(--margin-xs);
}

.m-block-sm {
  margin-block: var(--margin-sm);
}

.m-block-md {
  margin-block: var(--margin-md);
}

.m-block-lg {
  margin-block: var(--margin-lg);
}

.m-block-xl {
  margin-block: var(--margin-xl);
}

.m-block-xxl {
  margin-block: var(--margin-xxl);
}

.p-block-xxs {
  padding-block: var(--margin-xxs);
}

.p-block-xs {
  padding-block: var(--margin-xs);
}

.p-block-sm {
  padding-block: var(--margin-sm);
}

.p-block-md {
  padding-block: var(--margin-md);
}

.p-block-lg {
  padding-block: var(--margin-lg);
}

.p-block-xl {
  padding-block: var(--margin-xl);
}

.p-block-xxl {
  padding-block: var(--margin-xxl);
}

/* Top */
.m-top-xxs {
  margin-top: var(--margin-xxs);
}

.m-top-xs {
  margin-top: var(--margin-xs);
}

.m-top-sm {
  margin-top: var(--margin-sm);
}

.m-top-md {
  margin-top: var(--margin-md);
}

.m-top-lg {
  margin-top: var(--margin-lg);
}

.m-top-xl {
  margin-top: var(--margin-xl);
}

.m-top-xxl {
  margin-top: var(--margin-xxl);
}

.p-top-xxs {
  padding-top: var(--margin-xxs);
}

.p-top-xs {
  padding-top: var(--margin-xs);
}

.p-top-sm {
  padding-top: var(--margin-sm);
}

.p-top-md {
  padding-top: var(--margin-md);
}

.p-top-lg {
  padding-top: var(--margin-lg);
}

.p-top-xl {
  padding-top: var(--margin-xl);
}

.p-top-xxl {
  padding-top: var(--margin-xxl);
}

/* Bottom */
.m-bottom-xxs {
  margin-bottom: var(--margin-xxs);
}

.m-bottom-xs {
  margin-bottom: var(--margin-xs);
}

.m-bottom-sm {
  margin-bottom: var(--margin-sm);
}

.m-bottom-md {
  margin-bottom: var(--margin-md);
}

.m-bottom-lg {
  margin-bottom: var(--margin-lg);
}

.m-bottom-xl {
  margin-bottom: var(--margin-xl);
}

.m-bottom-xxl {
  margin-bottom: var(--margin-xxl);
}

.p-bottom-xxs {
  padding-bottom: var(--margin-xxs);
}

.p-bottom-xs {
  padding-bottom: var(--margin-xs);
}

.p-bottom-sm {
  padding-bottom: var(--margin-sm);
}

.p-bottom-md {
  padding-bottom: var(--margin-md);
}

.p-bottom-lg {
  padding-bottom: var(--margin-lg);
}

.p-bottom-xl {
  padding-bottom: var(--margin-xl);
}

.p-bottom-xxl {
  padding-bottom: var(--margin-xxl);
}

/* Left */
.m-left-xxs {
  margin-left: var(--margin-xxs);
}

.m-left-xs {
  margin-left: var(--margin-xs);
}

.m-left-sm {
  margin-left: var(--margin-sm);
}

.m-left-md {
  margin-left: var(--margin-md);
}

.m-left-lg {
  margin-left: var(--margin-lg);
}

.m-left-xl {
  margin-left: var(--margin-xl);
}

.m-left-xxl {
  margin-left: var(--margin-xxl);
}

.p-left-xxs {
  padding-left: var(--margin-xxs);
}

.p-left-xs {
  padding-left: var(--margin-xs);
}

.p-left-sm {
  padding-left: var(--margin-sm);
}

.p-left-md {
  padding-left: var(--margin-md);
}

.p-left-lg {
  padding-left: var(--margin-lg);
}

.p-left-xl {
  padding-left: var(--margin-xl);
}

.p-left-xxl {
  padding-left: var(--margin-xxl);
}

/* Right */
.m-right-xxs {
  margin-right: var(--margin-xxs);
}

.m-right-xs {
  margin-right: var(--margin-xs);
}

.m-right-sm {
  margin-right: var(--margin-sm);
}

.m-right-md {
  margin-right: var(--margin-md);
}

.m-right-lg {
  margin-right: var(--margin-lg);
}

.m-right-xl {
  margin-right: var(--margin-xl);
}

.m-right-xxl {
  margin-right: var(--margin-xxl);
}

.p-right-xxs {
  padding-right: var(--margin-xxs);
}

.p-right-xs {
  padding-right: var(--margin-xs);
}

.p-right-sm {
  padding-right: var(--margin-sm);
}

.p-right-md {
  padding-right: var(--margin-md);
}

.p-right-lg {
  padding-right: var(--margin-lg);
}

.p-right-xl {
  padding-right: var(--margin-xl);
}

.p-right-xxl {
  padding-right: var(--margin-xxl);
}

/* Flexbox & Grid */
.flex-center,
.flex-columns,
.flex-rows,
.flex-spread-columns,
.flex-spread-rows {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-columns, .flex-spread-columns {
  flex-direction: column;
}

.flex-rows, .flex-spread-rows {
  flex-direction: row;
}

.flex-spread-columns {
  justify-content: space-between;
}

.flex-spread-rows {
  justify-content: space-between;
}

.gap {
  gap: var(--grid-gutter);
}

.no-gap {
  gap: 0;
}

.no-rowgap {
  row-gap: 0;
}

.no-columngap {
  -moz-column-gap: 0;
       column-gap: 0;
}

/* Anchors and Links */
.link {
  color: var(--link-color);
}

.link-unstyle {
  color: var(--text-color);
}

/* Borders */
.border {
  border: var(--border-width) solid var(--border-color);
}

.border-top {
  border-top: var(--border-width) solid var(--border-color);
}

.border-right {
  border-right: var(--border-width) solid var(--border-color);
}

.border-bottom {
  border-bottom: var(--border-width) solid var(--border-color);
}

.border-left {
  border-left: var(--border-width) solid var(--border-color);
}

/* Positioning */
.position-r {
  position: relative;
}

.position-a {
  position: absolute;
}

.position-f {
  position: fixed;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

figcaption {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-sm);
  font-variation-settings: "wght" var(--font-weight-normal);
}

/* Image Blocks */
figure.block-type-image {
  width: 100%;
}
figure.block-type-image img {
  max-width: 100%;
}
figure.block-type-image[data-ratio] img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/**
 *  Gallery – with glide.js
 * 
 *  Builds on: 
 * 
 *  "assets/scss/components/gallery.scss"
 *      "node_modules/@glidejs/glide/src/assets/sass/glide.core.scss"

 *  "site/snippets/blocks/gallery.php"

 *  "site/snippets/components/glide.php"
 *      "node_modules/@glidejs/glide/dist/glide.min.js"
*/
/* The gallery can either show several images next (slider) to each other or one at a time (classic) */
/* Settings */
/* Gallery Styling */
.gallery-container {
  position: relative;
  width: inherit;
  height: inherit;
  overflow-x: hidden;
}
.gallery-container figure.gallery-item {
  height: 100%;
  width: 100%;
  aspect-ratio: inherit;
}
.gallery-container figure.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-container figure.gallery-item figcaption {
  padding: var(--margin-sm);
}

/* Arrow Navgation */
.arrows-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-md);
  padding: var(--margin-sm);
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Bullet Navigation */
.bullets-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--margin-sm);
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: var(--margin-sm);
  cursor: pointer;
}

.nav-bullet {
  width: 10px;
  height: 10px;
  background-color: rgb(180, 180, 180);
  border-radius: 50%;
  /* @glide active class */
}
.nav-bullet.glide__bullet--active {
  background-color: rgb(52, 52, 52);
}

/* Arrows that are used together with text (mostly as <span class="arrow">) */
.arrow {
  position: relative;
  width: 0.8em;
  height: 1em;
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
}
.arrow::before {
  content: "→";
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  line-height: 1.3em;
  transition: top 0.3s ease, left 0.3s ease;
}
.arrow[data-orientation=right]::before {
  content: "→";
}
.arrow[data-orientation=down-right]::before {
  content: "↘";
}
.arrow[data-orientation=down]::before {
  content: "↓";
  line-height: 1.5em;
}
.arrow[data-orientation=down-left]::before {
  content: "↙";
}
.arrow[data-orientation=left]::before {
  content: "←";
}
.arrow[data-orientation=up-left]::before {
  content: "↖";
}
.arrow[data-orientation=up]::before {
  content: "↑";
  line-height: 1.4em;
}
.arrow[data-orientation=up-right]::before {
  content: "↗";
}

/* For Arrow-Buttons, where the button stands alone you can use an svg background arrow */
.arrow-button {
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  background-image: url("/assets/media/arrow-right.svg");
  cursor: pointer;
}
.arrow-button[data-orientation=right] {
  transform: rotate(0deg);
}
.arrow-button[data-orientation=down-right] {
  transform: rotate(45deg);
}
.arrow-button[data-orientation=down] {
  transform: rotate(90deg);
}
.arrow-button[data-orientation=down-left] {
  transform: rotate(135deg);
}
.arrow-button[data-orientation=left] {
  transform: rotate(180deg);
}
.arrow-button[data-orientation=up-left] {
  transform: rotate(225deg);
}
.arrow-button[data-orientation=up] {
  transform: rotate(270deg);
}
.arrow-button[data-orientation=up-right] {
  transform: rotate(315deg);
}

/**
 *  The Accordion builds on: 
 * 
 *  "site/blueprint/fields/accordion.yml"
 *  "assets/scss/components/accordion.scss"
 *  "site/snippets/components/accordion.php"
*/
.accoridon-container .accordion-item .item-title {
  border-top: var(--border-width) solid var(--border-color);
  padding-block: var(--margin-xxs);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.accoridon-container .accordion-item .item-content {
  --item-height: 100vh;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 0;
  overflow: hidden;
  margin-bottom: var(--margin-xs);
  transition: max-height 0.5s ease-out;
}
.accoridon-container .accordion-item .item-content.open {
  max-height: var(--item-height);
}
.accoridon-container .accordion-item .item-content .content-text {
  height: -moz-fit-content;
  height: fit-content;
}
.accoridon-container .accordion-item .item-content figure {
  aspect-ratio: 3/2;
}

.main-menu .menu-list-wrapper .menu-list {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: var(--margin-xs);
}
.main-menu .menu-list-wrapper .menu-list .menu-item .active {
  text-decoration: underline;
}

.container {
  width: var(--container-width);
  padding-inline: var(--margin-inline);
  padding-block: var(--margin-block);
}/*# sourceMappingURL=main.css.map */