/* Typography */
.heading { @include font-heading; }
.subheading { @include font-subheading; }
.text { @include font-text; }
.infotext { @include font-infotext; }

.font-bold {
    font-weight: var(--font-weight-bold);
    font-variation-settings: 'wght' var(--font-weight-bold);
}

.font-normal,
.font-regular {
    font-weight: var(--font-weight-normal);
    font-variation-settings: 'wght' var(--font-weight-normal);
}


/* Colors */
.bg-color-primary { background-color: var(--color-primary); }
.bg-color-secondary { background-color: var(--color-secondary); }
.bg-color-accent { background-color: var(--color-accent); }
.color-primary { color: var(--color-primary); }
.color-secondary { color: var(--color-secondary); }
.color-accent { color: var(--color-accent); }


/* Margin and Padding */
.m-full { margin: var(--margin-inline); }
.m-inline { margin-inline: var(--margin-inline); }
.m-block { margin-block: var(--margin-block); }
.m-top { margin-top: var(--margin-block); }
.m-bottom { margin-bottom: var(--margin-block);}
.m-left { margin-left: var(--margin-inline); }
.m-right { margin-right: var(--margin-inline); }
.p-full { padding: var(--margin-inline); }
.p-inline { padding-inline: var(--margin-inline); }
.p-block { padding-block: var(--margin-block); }
.m-top { padding-top: var(--margin-block); }
.m-bottom { padding-bottom: var(--margin-block); }
.m-left { padding-left: var(--margin-inline); }
.m-right { padding-right: var(--margin-inline); } 


/* Flexbox & Grid */
.flex-center, 
.flex-columns, 
.flex-rows, 
.flex-spread-columns, 
.flex-spread-rows {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-columns, .flex-spread-columns { flex-direction: column; }
.flex-rows, .flex-spread-rows { flex-direction: row; }
.flex-spread-columns { justify-content: space-between; }
.flex-spread-rows { justify-content: space-between; }

.gap { gap: var(--grid-gutter); }
.no-gap { gap: 0; }
.no-rowgap { row-gap: 0; }
.no-columngap { column-gap: 0; }


/* Anchors and Links */
.link { color: var(--link-color); }
.link-unstyle { color: var(--text-color); }


/* Borders */
.border { border: var(--border-width) solid var(--border-color); }
.border-top { border-top: var(--border-width) solid var(--border-color); }
.border-right { border-right: var(--border-width) solid var(--border-color); }
.border-bottom { border-bottom: var(--border-width) solid var(--border-color); }
.border-left { border-left: var(--border-width) solid var(--border-color); }
